
$mainLightColor: #37F4FF;
$topBarBackground: linear-gradient(267.5deg, #2E798D 0%, #014456 100.82%);
$commonBackground: linear-gradient(267.5deg, #2E798D 0%, #014456 100.82%);
$commonBackground2: linear-gradient(267.5deg, #2E798D 0%, #014456 100.82%);
$commonBackground3: linear-gradient(267.5deg, #014456 0%, #014456 100.82%);
$commonBackgroundColor: #2E798D;
$bodyBackgroundColor: #57AAC010;
$lightBackground: rgba(87, 170, 192, 0.3);
$lightBackground2: rgba(246, 130, 55, 0.5);
$lightBackground50: rgba(87, 170, 192, 0.5);
$lightBackground5030: rgba(87, 170, 192, 0.3);
$btnColor: linear-gradient(180deg, #2E798D 0%, #51CBD2 145.65%);
$btnColor2: linear-gradient(180deg, #F68237 81.04%, #FF6400 96.15%);
$btnDisableColor: linear-gradient(142deg, #727272 0%, #CACACA 100%);
$borderColor: #37F4FF;
$commonBorder: 1px solid #37F4FF;
$commonContentColor: #57AAC0;
$commonContentColor30: #57AAC030;
$commonContentColorGray: #95C6B7;
$commonBoxShadow: 0px 5px 8px 1px rgba(0, 37, 19, 0.503391);
$dialogBackground: linear-gradient(136deg, #06261F 0%, #08322D 100%);
$cardBackgroundColor: #00322E80;
$darkFontColor: #57AAC0;