
$mainLightColor: #00FFCA;
$topBarBackground: linear-gradient(267.5deg, #09211a 0%, #09211a 100%);
$commonBackground: #071816;
$commonBackground2: #00322E;
$commonBackground3: #071816;
$commonBackgroundColor: #00322E;
$bodyBackgroundColor: #061d1b;
$lightBackground: #00322E;
$lightBackground2: #00322E;
$lightBackground50: #00322E50;
$lightBackground5030: #00322E50;
$btnColor: linear-gradient(142.1deg, #007254 -41.15%, #16C9A2 94.16%);
$btnColor2: linear-gradient(142.1deg, #007254 -41.15%, #16C9A2 94.16%);
$btnDisableColor: linear-gradient(142deg, #727272 0%, #CACACA 100%);
$borderColor: #00FFCA;
$commonBorder: 1px solid #00FFCA;
$commonContentColor: #00FFCA;
$commonContentColor30: #00FFCA30;
$commonContentColorGray: #95C6B7;
$commonBoxShadow: 0px 5px 8px 1px rgba(0, 37, 19, 0.503391);
$dialogBackground: linear-gradient(136deg, #06261F 0%, #08322D 100%);
$cardBackgroundColor: #00322E80;
$darkFontColor: #44675F;