// 所有變數

// ******** 顏色 ********
$primary: #51CBD2;

$secondary: #f7cd0a;

$success: #13aa6d;
$error: #cf2c46;

$text: #95c6b7;
$text_dark: #00322e;
$text_light: #ffffff;
$text_active: #00ffca;
$text_info: #44675f;
$text_price: #f7cd0a;

$bg: #071816;

$line: #2d4742;

// ******** 字級 ********
$font_sm: 12px;
$font_basic: 16px;
$font_bg: 20px;

$font_h1: 32px;
$font_h2: 24px;

// 手機版
$font_sm_mobile: 11px;
$font_basic_mobile: 12px;
$font_bg_mobile: 14px;

$font_h1_mobile: 20px;
$font_h2_mobile: 18px;

// ******** 圓角 ********
$radius_card: 8px;
$radius_btn: 4px;